li {
  color: white;
  background: black;
}

h1 {
  color: white;
  background: black;
}

form {
  color: white;
  background: black;
}

body {
  background: white url("images/background.jpg") no-repeat right bottom;
}